[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
selenium = "*"
webdriver-manager = "*"
pytest-selenium = "*"
pytest-xdist = "*"
faker = "*"
coverage = "*"
allure-pytest = "*"

[requires]
python_version = "3.13"

[scripts]
# Runs with "pipenv run _____"
serial = "pytest -v -s"
parallel = "pytest -v -s -n auto"
name = "pytest -v -s -k"
mark = "pytest -v -s -m"
report = "allure serve allure-results"
